@import 'reset';
@import 'vars';

@font-face {
  font-family: 'Evolve';
  src: url('../assets/fonts/Evolve.otf');
}

@font-face {
  font-family: 'Raleway';
  src: url('../assets/fonts/Raleway-Regular.ttf');
}
